.leaflet-container {
  position: relative;
  width: 100%;
  min-height: 880px;
}

.leaflet-container .leaflet-control-mouseposition {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px #bbb;
  padding: 0 5px;
  margin: 0;
  color: #333;
  font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

@import "/node_modules/leaflet/dist/leaflet.css";
@import "/node_modules/leaflet.label/dist/leaflet.label.css";
@import "/assets/leaflet/leaflet-list-markers/dist/leaflet-list-markers.src.css";
@import "/node_modules/leaflet-search/dist/leaflet-search.min.css";
@import "/node_modules/leaflet.fullscreen/Control.FullScreen.css";
@import "/node_modules/leaflet.markercluster/dist/MarkerCluster.css";
@import "/node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css";

